.plansScreen {
    display: flex;
    justify-content: space-between;
    padding: -3px;
    opacity: 0.8;
  }
  .plansScreen__button {
    padding: 10px 39px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    font-weight: 600;
    cursor: pointer;
    border: none;
    margin-top: 20px;
  }
  .plansScreen__button1{
    padding: 10px 39px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    font-weight: 600;
    cursor: pointer;
    border: none;
    margin-top: 20px
    
  }


  .plansScreen__button1:hover {
    opacity: 1;
    background-color: gray;
    transition: ease-in 0.3s;
  }